### C++ ###
# Executables
*.exe
*.out
*.app

#Visual Studio files
*.sdf
*.suo

# Visual C++ cache files
ipch/
*.opensdf

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
Test Source/Focus Test/QueryMerged.txt
Test Source/Focus Test/QueryMerged.xml
